{% extends 'base.html.twig' %}

{% block title %}Articles - Reviews Empire
{% endblock %}
{% block body %}

	<section class="container">
		<div class="row data-container">
			<div class="col-lg-12 mt-5">
				<h2>All Articles</h2>
			</div>
			{% if articles != null %}
				{% for article in articles %}
					<div class="col-lg-3 mt-3">
						<a href="{{ path("app_article_slug", {slug : article.slug} ) }}" class="box">
							<div class="bg-image mb-2" style="background-image: url({{asset('/articles/' ~ article.image)}})"></div>
							<div class="d-flex qw align-items-center">
								<div class="custom-badge me-2">
									{{ article.category.name }}
								</div>
								<i class="fas fa-circle me-1">
									{{ article.readTime }}
									min read
								</i>
							</div>
							<h3 class="mt-2">{{ article.title }}</h3>
							<p>{{ article.content | slice(0, 100) }}</p>
						</a>
					</div>
				{% endfor %}
			{% else %}
				<h4 class="text-center">Articles Not Found</h4>
			{% endif %}
		</div>
	</section>
	<section class="text-center">
		<button class="data-loader border border-1 custom-btn my-5">LOAD MORE</button>
	</section>
{% endblock %}
