{% extends 'admin.base.html.twig' %} {% block title %}Articles index {% endblock
%} {% block body %}
<h1>Articles index</h1>
<button class="btn btn-primary mb-5">
  <a href="{{ path('app_articles_new') }}">Create new</a>
</button>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Content</th>
      <th>Image</th>
      <th>CreatedAt</th>
      <th>UpdatedAt</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <td>{{ article.title }}</td>
      <td>{{ article.slug }}</td>
      <td>{{ article.content }}</td>
      <td>{{ article.image }}</td>
      <td>
        {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}
      </td>
      <td>
        {{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}
      </td>
      <td>
        <button class="btn btn-primary mb-2 form-control">
          <a href="{{ path('app_articles_show', { id: article.id }) }}">show</a>
        </button>
        <button class="btn btn-warning form-control">
          <a href="{{ path('app_articles_edit', { id: article.id }) }}">edit</a>
        </button>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="8">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button class="btn btn-primary mt-5 mb-3">
  <a href="{{ path('app_articles_new') }}">Create new</a>
</button>
{% endblock %}
